<h1>Doctors</h1>

<%= form_with method: :get do |form| %>
  <div class="mb-3">
    <%= form.label :category, class: "form-label" %>
    <%= form.select :category, @categories, { selected: params[:category] }, { class: "form-select" } %>
  </div>
  <%= form.submit "Search", class: "btn btn-primary" %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Doctor</th>
      <th scope="col">Categories</th>
      <th scope="col">Make a recommendation</th>
    </tr>
  </thead>
  <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
        <th scope="row"><%= doctor.user.full_name %></th>
        <td><%= doctor.category.name %></td>
        <td>

          <%= form_with url: patients_recommendations_path do |form| %>
            <%= form.hidden_field :doctor_id, value: doctor.id %>
            <%= form.submit "Send", class: "btn btn-primary" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
